<!--Index page for displaying main pace converter page-->

{% extends 'base.html' %}

{% block nav %}
  <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('index') }}">Splits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('track')}}">Track Splits</a>
  </li>
{% endblock %}

{% block content %}
<!--   <form method="post" action="/">
    <label for="distance">Total Distance:</label>
    <input type="text" id="distance" name="distance" value={{distance}}><br><br>
    <label for="units">Units:</label>
    <input type="text" id="units" name="units" value={{units}}><br><br>
    <label for="hours">Hours:</label>
    <input type="text" id="hours" name="hours" value={{hours}}><br><br>
    <label for="minutes">Minutes:</label>
    <input type="text" id="minutes" name="minutes" value={{minutes}}><br><br>
    <label for="seconds">Seconds:</label>
    <input type="text" id="seconds" name="seconds" value={{seconds}}><br><br>
    <button type="submit" value="Submit">Submit</button>
  </form> -->

  {% block app_content %}
    <div id="react-root"></div>
    <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
  {% endblock %}

<!--   <form method="post" action="/convert">
    <button method="post" action="/convert" type="submit" value="Convert Units">Convert Units</button>
  </form> -->

<!--   <a>
    <br><text>{{ average_pace }}</text><br><br>
  </a>

  {% for split in splits %}
    <a>
      <text>{{ split }}</text><br>
    </a>
  {% endfor %} -->

{% endblock %}
