<!--Track page for displaying track pace converter page-->
<!--TODO: Convert to React and make form dynamic - only show distance or laps depending on lane number-->

{% extends 'base.html' %}

{% block nav %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('index') }}">Splits</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{{url_for('track')}}">Track Splits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('schedule')}}">Schedule</a>
  </li>
{% endblock %}

{% block content %}
<!--   <form method="post" action="/track">
    <label for="distance">Split Distance in Meters:</label>
    <input type="text" id="distance" name="distance" value={{distance}}><br><br>
    <label for="or">or</label>
    <label for="laps">Laps:</label>
    <input type="text" id="laps" name="laps" value={{laps}}><br><br>
    <label for="minutes">Pace Minutes:</label>
    <input type="text" id="minutes" name="minutes" value={{minutes}}><br><br>
    <label for="seconds">Pace Seconds:</label>
    <input type="text" id="seconds" name="seconds" value={{seconds}}><br><br>
    <label for="units">Pace Units:</label>
    <input type="text" id="units" name="units" value={{units}}><br><br>
    <label for="lane">Lane Number:</label>
    <input type="text" id="lane" name="lane" value={{lane}}><br><br>
    <button type="submit" value="Submit">Submit</button>
  </form> -->

  {% block app_content %}
    <div id="react-root"></div>
    <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
  {% endblock %}

<!--   <a>
    <br><text>{{ track_pace }}</text><br><br>
  </a>

  {% for split in splits %}
    <a>
      <text>{{ split }}</text><br>
    </a>
  {% endfor %} -->

{% endblock %}
