<!--Track page for displaying track pace converter page-->

{% extends 'base.html' %}

{% block content %}
  <form method="post" action="/track">
    <label for="distance">Split Distance in Meters:</label>
    <input type="text" id="distance" name="distance" value={{distance}}><br><br>
    <label for="minutes">Pace Minutes:</label>
    <input type="text" id="minutes" name="minutes" value={{minutes}}><br><br>
    <label for="seconds">Pace Seconds:</label>
    <input type="text" id="seconds" name="seconds" value={{seconds}}><br><br>
    <label for="units">Pace Units:</label>
    <input type="text" id="units" name="units" value={{units}}><br><br>
    <button type="submit" value="Submit">Submit</button>
  </form>

  <a>
    <br><text>{{ track_pace }}</text><br><br>
  </a>

  {% for split in splits %}
    <a>
      <text>{{ split }}</text><br>
    </a>
  {% endfor %}

{% endblock %}
